@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rowad Misr System</h1>
    <p>This project was created by <a href="https://www.github.com/YoussefNour1">Youssef Nour</a></p>
</div>
